<div id="projetos" class="container">
    <div>
        <span class="fs-2 text-white text-shadow">
            Projetos
        </span>
    </div>
    <div style="display:flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 10rem;">
        <img ngSrc="assets/opa.png" width="368" height="368">
        <div>
            <span class="fs-3 text-white text-shadow">
                Parece que essa seção ainda está em processo de construção!
            </span>
        </div>
    </div>
</div>