<div id="status" class="container">
    <div>
        <span class="fs-2 text-white text-shadow">
            Meus Status
        </span>
    </div>
    <div id="status-div">

        <div style="display:flex; justify-content: start; flex-direction: column; align-items: center;">
            <img style="margin: 4rem; margin-top:0;" src="https://github-readme-stats-one-theta-41.vercel.app/api?username=freitasanderson1&show_icons=true&include_all_commits=true&bg_color=193549&theme=transparent&title_color=FBC401&text_color=FFFFFF" alt="Anderson Freitas 's GitHub Stats">
            <img src="https://github-readme-streak-stats-git-main-freitasanderson1s-projects.vercel.app/?user=freitasanderson1&theme=cobalt2&locale=pt_BR&date_format=j%20M%5B%20Y%5D&card_width=400" alt="Commit Streak">
        </div>
        <img src="https://github-readme-stats-freitasanderson.vercel.app/api/wakatime?username=freitasanderson&layout=compact&bg_color=193549&title_color=FBC401&text_color=fff" alt="WakaTime Stats">
    </div>
</div>