* {
  margin: 0;
  background: url('../SVG/background.svg');
}

.lightning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: -120px;
  margin-top: 100px;
  width: 1440px;
  height: 624px;
  opacity: 0;
  animation: lightning 1s linear infinite;
  background: url("../IMG/lightning.png");
  background-position: left;
}


@keyframes flash {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 0;
  }
  12% {
      opacity: 0.3;
  }
  14% {
      opacity: 0;
  }
  20% {
      opacity: 0;
  }
  22% {
      opacity: 0.6;
  }
  26% {
      opacity: 0;
  }
}

@keyframes lightning {
  0% {
      width: 0px;
      height: 0px;
  }
  5% {
      opacity: 0.1;
      width: 72px;
      height: 624px;
  }
  15% {
      opacity: 0.2;
      width: 288px;
      height: 624px;
  }
  25% {
      opacity: 0.3;
      width: 576px;
      height: 624px;
  }
  35% {
      opacity: 0.5;
      width: 1008px;
      height: 624px;
  }
  45% {
      opacity: 0.6;
      width: 1440px;
      height: 624px;
  }
  50% {
      opacity: 0.6;
      width: 1440px;
      height: 624px;
  }
  99% {
      opacity: 0.6;
      width: 1440px;
      height: 624px;
  }
  100% {
      opacity: 0;
      width: 0px;
      height: 624px;
  }
}
