<div id="sobre" class="section container">
    <div id="skillicons">
    </div>
    <div id="sobre-container">
        <div id="sobre-text">
            <div>
                <span id="sobre-title" class="fs-2 text-primary text-shadow">Sobre mim</span>
            </div>
            <div class="card shadow">
                <p class="fs-4 text-secondary">
                    Olá! Eu sou o Anderson, Desenvolvedor Full Stack com 3 anos de experiência. Sou especializado na criação de sistemas complexos, desde pequenos a grandes projetos, 
                    sempre garantindo a integridade dos sistemas e dos dados, com um foco especial na celeridade dos processos para entregar soluções robustas e impactantes. 
                    Minha expertise abrange desde o desenvolvimento front-end ao back-end, utilizando tecnologias como Python com Django e Flask, além de JavaScript com React, Angular e jQuery. 
                    Estou sempre em busca de aprimorar minhas habilidades e contribuir para o sucesso das equipes e empresas com as quais colaboro.
                </p>
            </div>
            <div id="divCV">
                <a class="btn-primary text-white shadow fs-4" href="https://docs.google.com/document/d/11t3aLp1gDjaZflsFp3EF8voQPeLZW9mE/edit?usp=sharing&ouid=105406676409194987099&rtpof=true&sd=true" target="_blank">
                    Baixar Curriculum Vitae
                </a>
            </div>
        </div>
        <div>
            <img id="nerdolaSobre" ngSrc="assets/sobremimNerdola.png" width="368" height="355">
            <div id="contacts">
                <a class="img-shadow" href="https://github.com/freitasanderson/" target="_blank">
                    <img src="https://skillicons.dev/icons?i=github"/>
                </a>
                <a class="img-shadow" href="https://www.linkedin.com/in/freitas-anderson/" target="_blank">
                    <img src="https://skillicons.dev/icons?i=linkedin"/>
                </a>
                <a class="img-shadow" href="mailto:freitas.dev@proton.me">
                    <img src="https://skillicons.dev/icons?i=gmail&theme=light" style="filter: invert(100%) grayscale(1);"/>
                </a>
            </div>
        </div>
    </div>
    <div class="footer">
        <a class="toTop img-shadow" href="#main">
            <img class="arrow-toTop" src="assets/arrow-up-solid.svg" width="40" height="50">
        </a>
    </div>
</div>