#sobre{
    font-family: "Alegreya Sans", sans-serif;
    background-color: #ffffff;
    background-image: url('../../../assets/nnnoise.svg');
    background-size: cover;
    border-top: 2px solid #387eb8ab;
    padding-top: 10rem;
    justify-content: flex-start;
    max-height: calc(100vh - 10rem);
}
#skillicons{
    background: url('https://skillicons.dev/icons?i=androidstudio,angular,aws,bootstrap,css,django,docker,express,figma,flask,git,github,html,java,javascript,jquery,kali,kotlin,kubernetes,linux,md,mongodb,mysql,nginx,nodejs,postgres,postman,py,react,rust,tailwind,vscode&perline=32');
    width: calc(1792*3px);
    z-index: 10;
    margin: 0;
    padding-left: 0.25rem;
    text-align: center;
    height: 48px;
    box-sizing: border-box;
    -webkit-animation: slide 10s linear infinite;
}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1792px 0px; }
}
.fs-2{
    font-size: 128px;
    font-weight: 500;
}
.fs-4{
    font-size: 32px;
    font-weight: 500;
}
.text-primary{
    color: #3C99D4;
}
.text-secondary{
    color: #366994;
}
#sobre-container{
    display: flex;
    align-items: start;
}
#sobre-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-right: 5vw;
}
#sobre-title{
    position: relative;
    top: 50px
}
#nerdolaSobre{
    position: relative;
    bottom: 15px;
    filter: drop-shadow(0px 4px 4px #366994);
}
.card{
    background-color: #F8F7F7;
    border-radius: 16px;
    padding: 1rem;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.toTop{
    z-index: 1;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 40px;
    transition: 1s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all linear;
    -ms-transition: 1s all linear;
    -o-transition: 1s all linear;
}
.arrow-toTop{
    position: relative;
    background-color: #C78147;
    border-radius: 50px;
    height: 2rem;
    width: 2rem;
    filter: invert(100%);
    animation: upDown 4s infinite;
    padding: 1rem;
    opacity: 0.5;
}
.text-shadow{
    text-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25)!important;
}
.img-shadow{
    filter: drop-shadow(0px 4px 4px #366994);
}
.shadow{
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, 0.25)!important;
}
.text-white{
    color: #FFFFFF;
}
#divCV{
    display: flex;
    justify-content: center;
}
#contacts{
    display: flex;
    justify-content: space-evenly;
}
.btn-primary{
    border-radius: 12px;
    text-decoration: none;
    background-color: #3C99D4;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 1rem;
}
@keyframes upDown {
    0% {top: 10px;}
    25%{top:0px;}
    50%{top:10px}
    75%{top:0px}
    100%{top:10px;}
}