<div id="main" class="section container">
    <div class="main-container">
        <div>
            <div>
                <span class="fs-2 text-white text-shadow">
                    Anderson
                </span>
            </div>

            <div>
                <span class="fs-1 text-white text-shadow">
                    Freitas
                </span>
            </div>

            <div>
                <span class="fs-3 text-white text-shadow">
                    Desenvolvedor Full Stack
                </span>
            </div>
        </div>
        <div>
            <img class="main-gif" ngSrc="assets/nerdola.gif" width="645" height="484" priority>
        </div>
    </div>
    <div class="footer">
        <a class="a-move" href="#sobre">
            <img class="arrow-main" src="assets/angles-down-solid.svg" width="40" height="50" priority>
        </a>
    </div>
</div>